body {
    overflow: scroll;
    padding: 0;
    color: #443235;
    background-color:#efefef;
    font-family: Gotham Book, futura, Arial, sans-serif;
    cursor: url(cursor1.gif) 17 17, move;

}

a:link {
    color: #dde0ec;
    text-decoration: none;
    cursor: url(cursor2.gif) 17 17, move;
}
a:visited {
    color: #dde0ec;
    text-decoration: none;
    cursor: url(cursor2.gif) 17 17, move;
}
a:hover {
    color: #bd4a70;
    text-decoration: none;
    cursor: url(cursor2.gif) 17 17, move;
}
a:active {
    color: #dde0ec;
    text-decoration: none;
    cursor: url(cursor2.gif) 17 17, move;
}

.nav {
    background-color:#9fa1ae;
    border-bottom: 1vh double #443235;
}
.nav li{
    display: inline-block;
    font-weight: bold;
}
.nav ul{
    border:0;
}

.Container2 {
    display: flex;
    height: 60vh;
    /*padding-top: 10vh;*/
    justify-content: center;
    /*position: relative;*/
    width: 100%;
    font-size: 90%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.Container3 {
    width:50vw;
    height:50vw;
    padding-left: 3vw;
    padding-right: 2.5vw;
    justify-content:center;
    text-align: justify;
    margin-top:10vh;
    margin-bottom:15vh;
    margin-left:25vw;
    margin-right:25vw;
    line-height: 120%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow:scroll;
    /*border: 1px solid black;*/
    background-color: #efefef;
}
.Left::-webkit-scrollbar,
.Container3::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}
.Left {
    /*width: 35vw;*/
    height: 60vh;
    background-color: #efefef;
    /*overflow: auto;*/
    
}

.Right {
    overflow: auto;
    width: 35vw;
    background-color: #f4eaeb;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 1vh;
    margin-left: -5px;
    text-align: justify;
    line-height: 120%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border:5px solid #cfc4c5;
    overflow: auto;
}

.Right_pics {
    overflow: scroll;
    width: 35vw;
    background-color: #efefef;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 1vh;
    margin-left:0px;
    text-align: justify;
    line-height: 120%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.thumbnail {
    width:8vw;
    overflow:scroll;
}
.bottom {
    position:fixed;
    width:100%;
    height:8vh
    line-height:6vh;
    bottom:0;
    background-color:#9fa1ae;
    border-top: .5vh solid #443235;
    text-align: center;
    font-size: 80%;
}
h1,h2 {
    font-size: 110%;
    color: #404555;
}

